/* screen - comicpage */

.comicpage {
  background-color: var(--white);
  height: 1417px;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.comicpage .background-PcZvrK {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/comic-page-rectangle-302DB920-9149-487E-B2AE-1B5175EE0C87.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1420px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1024px;
  position: absolute;
  top: -3px;
  width: auto;
}

.comicpage .rectangle-VGDMX3 {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 1420px;
  position: relative;
  width: 1024px;
}

.comicpage .rectangle-PcZvrK {
  background-color: var(--pearl-bush);
  height: 839px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 721px;
}

.comicpage .rectangle-nCKb70 {
  background-color: var(--oxford-blue);
  height: 69px;
  left: 0px;
  position: absolute;
  top: 128px;
  width: 1024px;
}

.comicpage .group-6-PcZvrK {
  background-color: transparent;
  height: 29px;
  left: 838px;
  position: absolute;
  top: 147px;
  width: 45px;
}

.comicpage .noun_instagram-comment_3460458-5YWRlm {
  background-color: transparent;
  background-image: url(../img/comic-page-shape-96FA5972-D372-45BB-9C14-54F2D9BDC0A1@2x.png);
  background-size: 100% 100%;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 21px;
}

.comicpage .group-2-copy-5YWRlm {
  background-color: transparent;
  height: 16px;
  left: 16px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.comicpage .rectangle-hVXiRf {
  background-color: var(--jaffa);
  border-radius: 6.84px;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 29px;
}

.comicpage .x21-hVXiRf {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-helvetica-bold);
  font-size: 13px;
  font-weight: 700;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 15px;
}

.comicpage .group-3-PcZvrK {
  background-color: transparent;
  height: 27px;
  left: 759px;
  position: absolute;
  top: 147px;
  width: 45px;
}

.comicpage .noun_-favorite_2501814-bcvoiu {
  background-color: transparent;
  background-image: url(../img/comic-page-shape-E8DD3C50-5F28-41C9-B112-12F4BFB43525@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 21px;
}

.comicpage .group-2-bcvoiu {
  background-color: transparent;
  height: 16px;
  left: 16px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.comicpage .rectangle-MlFOzU {
  background-color: var(--jaffa);
  border-radius: 6.84px;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 29px;
}

.comicpage .x45-MlFOzU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-helvetica-bold);
  font-size: 13px;
  font-weight: 700;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 15px;
}

.comicpage .group-10-PcZvrK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 22px;
  justify-content: flex-start;
  left: 379px;
  min-width: 266px;
  position: absolute;
  top: 150px;
  width: auto;
}

.comicpage .noun_-next_1597195-copy-2-lQOvCx {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  position: relative;
  width: 22px;
}

.comicpage .noun_-next_1597195-copy-lQOvCx {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  margin-left: 36px;
  position: relative;
  width: 22px;
}

.comicpage .noun_-book_83730-lQOvCx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 39px;
  min-width: 28px;
  position: relative;
  width: auto;
}

.comicpage .group-1PazO2 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  min-width: 28px;
  position: relative;
  width: auto;
}

.comicpage .shape-fRceYp {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: -1px;
  margin-top: -1.34px;
  position: relative;
  width: 30px;
}

.comicpage .noun_-next_1597195-lQOvCx {
  align-items: center;
  background-color: transparent;
  background-image: url(../img/comic-page-shape-6B7E44FD-E915-40DA-93EB-C347ACA54CFF@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 22px;
  justify-content: flex-end;
  margin-left: 38px;
  min-width: 22px;
  padding: 0 7px;
  position: relative;
  width: auto;
}

.comicpage .path-49GxvL {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 6px;
}

.comicpage .noun_-next_1597195-copy-3-lQOvCx {
  background-color: transparent;
  background-image: url(../img/comic-page-shape-6B7E44FD-E915-40DA-93EB-C347ACA54CFF@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 22px;
  margin-left: 37px;
  position: relative;
  width: 22px;
}

.comicpage .path-Slrt5E {
  background-color: transparent;
  height: 10px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.comicpage .path-copy-Slrt5E {
  background-color: transparent;
  height: 10px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.comicpage .group-7-PcZvrK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 256px;
  min-height: 28px;
  position: absolute;
  top: 149px;
  width: 6px;
}

.comicpage .oval-pHHuEj {
  background-color: var(--white);
  border-radius: 6px;
  flex-shrink: 1;
  height: 6px;
  position: relative;
  width: 6px;
}

.comicpage .oval-copy-pHHuEj {
  background-color: var(--white);
  border-radius: 6px;
  flex-shrink: 1;
  height: 6px;
  margin-top: 5px;
  position: relative;
  width: 6px;
}

.comicpage .oval-copy-2-pHHuEj {
  background-color: var(--white);
  border-radius: 6px;
  flex-shrink: 1;
  height: 6px;
  margin-top: 5px;
  position: relative;
  width: 6px;
}

.comicpage .chapter-4-willow-PcZvrK {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: auto;
}

.comicpage .page-10-PcZvrK {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 163px;
  white-space: nowrap;
  width: auto;
}

.comicpage .line-PcZvrK {
  background-color: transparent;
  height: 32px;
  left: 302px;
  position: absolute;
  top: 147px;
  width: 5px;
}

.comicpage .line-copy-PcZvrK {
  background-color: transparent;
  height: 32px;
  left: 714px;
  position: absolute;
  top: 147px;
  width: 5px;
}

.comicpage .noun_enlarge_1939636-PcZvrK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 917px;
  min-width: 23px;
  position: absolute;
  top: 153px;
  width: auto;
}

.comicpage .group-KyG22C {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 23px;
  justify-content: flex-start;
  min-width: 23px;
  position: relative;
  width: auto;
}

.comicpage .path-container-XtpW51 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 23px;
  position: relative;
  width: 10px;
}

.comicpage .path-O4jtAl {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.comicpage .path-YgxHpx {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-top: 3px;
  position: relative;
  width: 10px;
}

.comicpage .path-container-L5xlt1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 3px;
  min-height: 23px;
  position: relative;
  width: 10px;
}

.comicpage .path-hQC3kv {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.comicpage .path-8lZRB3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-top: 3px;
  position: relative;
  width: 10px;
}

.comicpage .footer-PcZvrK {
  align-items: flex-end;
  background-color: var(--oxford-blue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 381px;
  padding: 22px 33px;
  position: absolute;
  top: 1036px;
  width: 1024px;
}

.comicpage .flex-row-8yxY8B {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 113px;
  justify-content: flex-start;
  margin-top: 21px;
  min-width: 929px;
  position: relative;
  width: auto;
}

.comicpage .purple-copy-dsAcwP {
  background-color: transparent;
  flex-shrink: 1;
  height: 73px;
  position: relative;
  width: 165px;
}

.comicpage .flex-col-dsAcwP {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 62px;
  min-height: 101px;
  position: relative;
  width: 702px;
}

.comicpage .flex-row-7OL2cx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 693px;
  position: relative;
  width: auto;
}

.comicpage .home-pVsKtp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  min-height: 24px;
  min-width: 62px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.comicpage .read-pVsKtp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 53px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.comicpage .lore-pVsKtp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 60px;
  min-height: 24px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 46px;
}

.comicpage .store-pVsKtp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 64px;
  min-height: 24px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.comicpage .community-pVsKtp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 56px;
  min-height: 24px;
  min-width: 116px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 116px;
}

.comicpage .about-pVsKtp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 63px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 63px;
}

.comicpage .flex-row-elg7fx {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 63px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 484px;
  position: relative;
  width: auto;
}

.comicpage .flex-col-Bb5ako {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.comicpage .characters-RogcFp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .settings-RogcFp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-right: 1.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .flex-col-S3wi2c {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 45px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.comicpage .books-c06Owp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  min-height: 21px;
  min-width: 44px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .artwork-c06Owp {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .flex-col-Xu3YQ4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 83px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.comicpage .fan-art-OZ1sSH {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .patreon-OZ1sSH {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .flex-col-RBXpjM {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 78px;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.comicpage .contact-us-B6w4fu {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 81px;
}

.comicpage .creator-B6w4fu {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 3.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .flex-col-8yxY8B {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 11px;
  min-height: 192px;
  position: relative;
  width: 942px;
}

.comicpage .flex-row-9f5zJp {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 933px;
  position: relative;
  width: auto;
}

.comicpage .flex-col-VMRPkK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 72px;
  position: relative;
  width: 382px;
}

.comicpage .join-my-newsletter-t-j81dWW {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  min-height: 28px;
  min-width: 282px;
  position: relative;
  text-align: left;
  width: 282px;
}

.comicpage .group-container-j81dWW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 382px;
  position: relative;
  width: auto;
}

.comicpage .overlap-group-ixNHYb {
  align-items: center;
  background-color: var(--gallery);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  min-width: 282px;
  padding: 0 9px;
  position: relative;
  width: auto;
}

.comicpage .email-address-ElJkhV {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 0px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .group-ixNHYb {
  align-items: center;
  background-color: var(--jaffa);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 85px;
  padding: 0 14px;
  position: relative;
  width: auto;
}

.comicpage .subscribe-avyxla {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  min-height: 15px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .gallery-VMRPkK {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 94px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .merchadise-VMRPkK {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-left: 44px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 84px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .blog-VMRPkK {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 81px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 35px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .faq-VMRPkK {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 109px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .flex-row-XzvwHl {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 2px;
  margin-top: 70px;
  min-width: 59px;
  position: relative;
  width: auto;
}

.comicpage .facebook-xUUnEP {
  background-color: transparent;
  background-image: url(../img/about-page-1-path-2DD1F344-A1B4-44E6-8815-ED925D0BDD11@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 19px;
  position: relative;
  width: 19px;
}

.comicpage .instagram-xUUnEP {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/gallery-page--shape-731379D7-6D31-434C-AA03-3EEC16C014B7@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 20px;
  padding: 4px;
  position: relative;
  width: auto;
}

.comicpage .shape-emi8Zf {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.comicpage .oval-emi8Zf {
  background-color: var(--white);
  border-radius: 1px;
  flex-shrink: 1;
  height: 1px;
  margin-left: 0px;
  position: relative;
  width: 1px;
}

.comicpage .flex-row-pvUaQr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 942px;
  position: relative;
  width: auto;
}

.comicpage .terms-conditions-cK6eiP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .privacy-policy-cK6eiP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 36px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .x2021-olga-andreyev-cK6eiP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 395px;
  min-height: 19px;
  min-width: 297px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .rectangle-Gsx5oV {
  background-color: var(--white);
  box-shadow: -7px 0px 4px #d6d6d680;
  height: 839px;
  left: 721px;
  position: absolute;
  top: 197px;
  width: 304px;
}

.comicpage .group-4-PcZvrK {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 762px;
  min-height: 82px;
  position: absolute;
  top: 297px;
  width: 215px;
}

.comicpage .flex-row-UwOojd {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-left: 2.0px;
  min-width: 217px;
  position: relative;
  width: auto;
}

.comicpage .oval-Rey6mY {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}

.comicpage .vera-cohen-Rey6mY {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-bottom: 1.0px;
  margin-left: 12px;
  min-height: 21px;
  min-width: 89px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .june-122021-Rey6mY {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-bottom: 1.0px;
  margin-left: 9px;
  min-height: 15px;
  min-width: 77px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .amazing-chapter-so-f-UwOojd {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-bottom: -1px;
  margin-left: 11.0px;
  margin-top: 6px;
  min-height: 14px;
  min-width: 142px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .flex-row-J5Edvi {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 39.0px;
  margin-top: 12px;
  min-width: 92px;
  position: relative;
  width: auto;
}

.comicpage .noun_-favorite_917449-fpTqQz {
  background-color: transparent;
  background-image: url(../img/comic-page-path-D8FD4BB6-A2F0-4E6E-ABBF-80B7C8BA7215@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 14px;
  margin-top: 1.0px;
  position: relative;
  width: 18px;
}

.comicpage .x4-fpTqQz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 9px;
  margin-top: 2.0px;
  min-height: 15px;
  min-width: 10px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .line-2-fpTqQz {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 12px;
  position: relative;
  width: 2px;
}

.comicpage .reply-fpTqQz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 8px;
  margin-top: 2.0px;
  min-height: 15px;
  min-width: 33px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .group-4-copy-PcZvrK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 762px;
  min-height: 110px;
  position: absolute;
  top: 419px;
  width: 220px;
}

.comicpage .flex-row-bV2hPV {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  min-width: 193px;
  position: relative;
  width: auto;
}

.comicpage .oval-xdXsgG {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}

.comicpage .corey-p-xdXsgG {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-bottom: 1.0px;
  margin-left: 12px;
  min-height: 21px;
  min-width: 64px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .june-042021-xdXsgG {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-bottom: 1.0px;
  margin-left: 9px;
  min-height: 15px;
  min-width: 78px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .the-art-work-is-dope-bV2hPV {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-top: 6px;
  min-height: 42px;
  min-width: 178px;
  position: relative;
  text-align: left;
  width: 178px;
}

.comicpage .flex-row-xCUDD1 {
  align-items: center;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 44.0px;
  margin-top: 12px;
  min-width: 92px;
  position: relative;
  width: auto;
}

.comicpage .noun_-favorite_917449-SQxTJP {
  background-color: transparent;
  background-image: url(../img/comic-page-path-D8FD4BB6-A2F0-4E6E-ABBF-80B7C8BA7215@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 14px;
  margin-top: 1.0px;
  position: relative;
  width: 18px;
}

.comicpage .x4-SQxTJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 9px;
  margin-top: 2.0px;
  min-height: 15px;
  min-width: 10px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .line-2-SQxTJP {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 12px;
  position: relative;
  width: 2px;
}

.comicpage .reply-SQxTJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 8px;
  margin-top: 2.0px;
  min-height: 15px;
  min-width: 33px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .group-4-copy-2-PcZvrK {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 762px;
  min-height: 110px;
  position: absolute;
  top: 569px;
  width: 220px;
}

.comicpage .flex-row-jwZOpF {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-right: 4px;
  min-width: 216px;
  position: relative;
  width: auto;
}

.comicpage .oval-85C43P {
  background-color: var(--iron);
  border-radius: 30px;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}

.comicpage .sara-casey-85C43P {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-bottom: 1.0px;
  margin-left: 12px;
  min-height: 21px;
  min-width: 86px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .may-262021-85C43P {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-bottom: 1.0px;
  margin-left: 9px;
  min-height: 15px;
  min-width: 79px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .oh-im-so-loving-this-jwZOpF {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-top: 6px;
  min-height: 42px;
  min-width: 178px;
  position: relative;
  text-align: left;
  width: 178px;
}

.comicpage .flex-row-UNkHlp {
  align-items: center;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 44.0px;
  margin-top: 12px;
  min-width: 92px;
  position: relative;
  width: auto;
}

.comicpage .noun_-favorite_917449-zkF0VR {
  background-color: transparent;
  background-image: url(../img/comic-page-path-D8FD4BB6-A2F0-4E6E-ABBF-80B7C8BA7215@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 14px;
  margin-top: 1.0px;
  position: relative;
  width: 18px;
}

.comicpage .x4-zkF0VR {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 9px;
  margin-top: 2.0px;
  min-height: 15px;
  min-width: 10px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .line-2-zkF0VR {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 12px;
  position: relative;
  width: 2px;
}

.comicpage .reply-zkF0VR {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 8px;
  margin-top: 2.0px;
  min-height: 15px;
  min-width: 33px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.comicpage .rectangle-oAKSf7 {
  background-color: var(--electric-violet);
  height: 55px;
  left: 721px;
  position: absolute;
  top: 197px;
  width: 303px;
}

.comicpage .comments-21-PcZvrK {
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  height: auto;
  left: 762px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 213px;
  white-space: nowrap;
  width: auto;
}

.comicpage .group-9-PcZvrK {
  background-color: transparent;
  height: 836px;
  left: 42px;
  position: absolute;
  top: 197px;
  width: 620px;
}

.comicpage .rectangle-24jbJt {
  background-color: transparent;
  height: 592px;
  left: -7px;
  position: absolute;
  top: 255px;
  width: 642px;
}

.comicpage .rectangle-zxGeDQ {
  background-color: transparent;
  height: 288px;
  left: -7px;
  position: absolute;
  top: -11px;
  width: 642px;
}

.comicpage .logo-copy-2-PcZvrK {
  background-color: transparent;
  background-image: url(../img/comic-page-purple-CAD86BD1-7435-4D49-A8E3-5CF3B40AC12D@2x.png);
  background-size: 100% 100%;
  height: 108px;
  left: 42px;
  position: absolute;
  top: 32px;
  width: 244px;
}

.comicpage .sc-PcZvrK {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 769px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 577px;
  white-space: nowrap;
  width: auto;
}

.comicpage .load-more-PcZvrK {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 838px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 719px;
  white-space: nowrap;
  width: auto;
}

.comicpage .rectangle-4DxvGO {
  background-color: #eeeeee;
  height: 245px;
  left: 721px;
  position: absolute;
  top: 791px;
  width: 303px;
}

.comicpage .group-5-PcZvrK {
  align-items: center;
  background-color: var(--aqua-pearl-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-end;
  left: 927px;
  min-width: 77px;
  padding: 0 8px;
  position: absolute;
  top: 975px;
  width: auto;
}

.comicpage .comment-SP4oGa {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 60px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 60px;
}

.comicpage .rectangle-FE0ZNd {
  background-color: var(--iron);
  height: 137px;
  left: 741px;
  position: absolute;
  top: 810px;
  width: 263px;
}

.comicpage .add-a-comment-PcZvrK {
  background-color: transparent;
  color: #555555;
  font-family: var(--font-family-futurahandwritten);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 762px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 820px;
  white-space: nowrap;
  width: auto;
}

.comicpage .group-8-PcZvrK {
  align-items: flex-end;
  background-color: var(--iron);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 741px;
  min-width: 119px;
  padding: 3px 6px;
  position: absolute;
  top: 975px;
  width: auto;
}

.comicpage .name-optional-bb2nRA {
  background-color: transparent;
  color: #664e4d;
  flex-shrink: 1;
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  margin-left: 0px;
  min-height: 15px;
  min-width: 95px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 95px;
}

.comicpage .nav-links-PcZvrK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: flex-start;
  left: 496px;
  min-width: 489px;
  position: absolute;
  top: 66px;
  width: auto;
}

.comicpage .state-neutral-uX8TK5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  min-width: 69px;
  position: relative;
  width: auto;
}

.comicpage .text-E8xl68 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 72px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.comicpage .state-neutral-copy-uX8TK5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 52px;
  position: relative;
  width: auto;
}

.comicpage .text-ZzCYzm {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 55px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.comicpage .state-neutral-copy-2-uX8TK5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 63px;
  position: relative;
  width: auto;
}

.comicpage .text-xSuEaO {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 66px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.comicpage .state-neutral-copy-3-uX8TK5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.comicpage .text-MjKkGP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 133px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.comicpage .state-neutral-copy-4-uX8TK5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 71px;
  position: relative;
  width: auto;
}

.comicpage .text-tn5YZ8 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 74px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
