/* screen - communitypage */

.communitypage {
  background-color: var(--white);
  height: 2000px;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.communitypage .background-Or5hFZ {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/comic-page-rectangle-302DB920-9149-487E-B2AE-1B5175EE0C87.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1622px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1024px;
  position: absolute;
  top: -3px;
  width: auto;
}

.communitypage .rectangle-U4qqAy {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 1622px;
  position: relative;
  width: 1024px;
}

.communitypage .logo-copy-7-Or5hFZ {
  background-color: transparent;
  background-image: url(../img/comic-page-purple-CAD86BD1-7435-4D49-A8E3-5CF3B40AC12D@2x.png);
  background-size: 100% 100%;
  height: 108px;
  left: 42px;
  position: absolute;
  top: 32px;
  width: 244px;
}

.communitypage .rectangle-Or5hFZ {
  background-color: var(--pearl-bush);
  height: 1781px;
  left: 42px;
  position: absolute;
  top: 146px;
  width: 940px;
}

.communitypage .rectangle-ntRWxn {
  background-color: transparent;
  height: 359px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  width: 940px;
}

.communitypage .rectangle-eEFy6w {
  background: linear-gradient(180deg, rgba(255,255,255,0.36) 0%, rgba(13,13,13,0.70) 97%);
  background-color: transparent;
  height: 359px;
  left: 42px;
  position: absolute;
  top: 146px;
  width: 940px;
}

.communitypage .fan-art-showcase-of-Or5hFZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 47px;
  position: absolute;
  text-align: left;
  top: 380px;
  width: 396px;
}

.communitypage .group-copy-2-Or5hFZ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 122px;
  min-height: 203px;
  position: absolute;
  top: 563px;
  width: 780px;
}

.communitypage .flex-row-UdtC1U {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 137px;
  justify-content: flex-start;
  min-width: 780px;
  position: relative;
  width: auto;
}

.communitypage .rectangle-Ikcfj4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 137px;
  object-fit: cover;
  position: relative;
  width: 140px;
}

.communitypage .rectangle-copy-Ikcfj4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 137px;
  margin-left: 20px;
  object-fit: cover;
  position: relative;
  width: 140px;
}

.communitypage .rectangle-copy-2-Ikcfj4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 137px;
  margin-left: 20px;
  object-fit: cover;
  position: relative;
  width: 140px;
}

.communitypage .rectangle-copy-3-Ikcfj4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 137px;
  margin-left: 20px;
  object-fit: cover;
  position: relative;
  width: 140px;
}

.communitypage .rectangle-copy-4-Ikcfj4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 137px;
  margin-left: 20px;
  object-fit: cover;
  position: relative;
  width: 140px;
}

.communitypage .see-more-UdtC1U {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-futurastd-book);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22px;
  margin-bottom: -4px;
  margin-left: 2.0px;
  margin-top: 48px;
  min-height: 18px;
  min-width: 76px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .rectangle-6VIix0 {
  background-color: var(--oxford-blue);
  height: 407px;
  left: 42px;
  position: absolute;
  top: 832px;
  width: 940px;
}

.communitypage .rectangle-copy-5-Or5hFZ {
  background-color: var(--pearl-bush);
  height: 380px;
  left: 42px;
  position: absolute;
  top: 1239px;
  width: 940px;
}

.communitypage .want-to-submit-a-ill-Or5hFZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-bold);
  font-size: 32px;
  font-weight: 700;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 854px;
  width: 340px;
}

.communitypage .support-my-patreon-Or5hFZ {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 1291px;
  white-space: nowrap;
  width: auto;
}

.communitypage .rectangle-WIRqLU {
  background-color: transparent;
  height: 240px;
  left: 514px;
  position: absolute;
  top: 931px;
  width: 412px;
}

.communitypage .now-you-have-the-cha-Or5hFZ {
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 978px;
  width: 355px;
}

.communitypage .group-Or5hFZ {
  align-items: flex-end;
  background-color: var(--aqua-pearl-2);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 49px;
  justify-content: flex-end;
  left: 229px;
  min-width: 140px;
  padding: 12px 42px;
  position: absolute;
  top: 1091px;
  width: auto;
}

.communitypage .submit-gIxm75 {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  min-height: 24px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.communitypage .group-copy-Or5hFZ {
  align-items: flex-end;
  background-color: #ff424d;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 49px;
  justify-content: flex-start;
  left: 215px;
  min-width: 193px;
  padding: 12px 22px;
  position: absolute;
  top: 1513px;
  width: auto;
}

.communitypage .become-a-patreon-ww9wxy {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 0px;
  min-height: 24px;
  min-width: 149px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}

.communitypage .rectangle-chQKpf {
  background-color: transparent;
  height: 234px;
  left: 514px;
  position: absolute;
  top: 1341px;
  width: 412px;
}

.communitypage .become-a-patreon-mem-Or5hFZ {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1373px;
  width: 380px;
}

.communitypage .footer-Or5hFZ {
  align-items: flex-end;
  background-color: var(--oxford-blue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 381px;
  padding: 22px 33px;
  position: absolute;
  top: 1619px;
  width: 1024px;
}

.communitypage .flex-row-iGxxsC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 113px;
  justify-content: flex-start;
  margin-top: 21px;
  min-width: 929px;
  position: relative;
  width: auto;
}

.communitypage .purple-copy-dxzcuW {
  background-color: transparent;
  flex-shrink: 1;
  height: 73px;
  position: relative;
  width: 165px;
}

.communitypage .flex-col-dxzcuW {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 62px;
  min-height: 101px;
  position: relative;
  width: 702px;
}

.communitypage .flex-row-NL6opv {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 693px;
  position: relative;
  width: auto;
}

.communitypage .home-DzszNT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  min-height: 24px;
  min-width: 62px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.communitypage .read-DzszNT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 53px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.communitypage .lore-DzszNT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 60px;
  min-height: 24px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 46px;
}

.communitypage .store-DzszNT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 64px;
  min-height: 24px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.communitypage .community-DzszNT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 56px;
  min-height: 24px;
  min-width: 116px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 116px;
}

.communitypage .about-DzszNT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 63px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 63px;
}

.communitypage .flex-row-tR7mtb {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 63px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 484px;
  position: relative;
  width: auto;
}

.communitypage .flex-col-h6y3V5 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.communitypage .characters-MqaLd6 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .settings-MqaLd6 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-right: 1.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .flex-col-ntydqd {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 45px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.communitypage .books-UmDx1B {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  min-height: 21px;
  min-width: 44px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .artwork-UmDx1B {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .flex-col-llo1Qc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 83px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.communitypage .fan-art-XbaCQo {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .patreon-XbaCQo {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .flex-col-sPMI5F {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 78px;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.communitypage .contact-us-hWsCDX {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 81px;
}

.communitypage .creator-hWsCDX {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 3.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .flex-col-iGxxsC {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 11px;
  min-height: 192px;
  position: relative;
  width: 942px;
}

.communitypage .flex-row-avxt84 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 933px;
  position: relative;
  width: auto;
}

.communitypage .flex-col-EQ2nyO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 72px;
  position: relative;
  width: 382px;
}

.communitypage .join-my-newsletter-t-3PL6xz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  min-height: 28px;
  min-width: 282px;
  position: relative;
  text-align: left;
  width: 282px;
}

.communitypage .group-container-3PL6xz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 382px;
  position: relative;
  width: auto;
}

.communitypage .overlap-group-O7xHpJ {
  align-items: center;
  background-color: var(--gallery);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  min-width: 282px;
  padding: 0 9px;
  position: relative;
  width: auto;
}

.communitypage .email-address-QECIfa {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 0px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .group-O7xHpJ {
  align-items: center;
  background-color: var(--jaffa);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 85px;
  padding: 0 14px;
  position: relative;
  width: auto;
}

.communitypage .subscribe-0tCgho {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  min-height: 15px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .gallery-EQ2nyO {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 94px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .merchadise-EQ2nyO {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-left: 44px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 84px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .blog-EQ2nyO {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 81px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 35px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .faq-EQ2nyO {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 109px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .flex-row-3etvjp {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 2px;
  margin-top: 70px;
  min-width: 59px;
  position: relative;
  width: auto;
}

.communitypage .facebook-NnxIVI {
  background-color: transparent;
  background-image: url(../img/about-page-1-path-2DD1F344-A1B4-44E6-8815-ED925D0BDD11@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 19px;
  position: relative;
  width: 19px;
}

.communitypage .instagram-NnxIVI {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/gallery-page--shape-731379D7-6D31-434C-AA03-3EEC16C014B7@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 20px;
  padding: 4px;
  position: relative;
  width: auto;
}

.communitypage .shape-J1mOPi {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.communitypage .oval-J1mOPi {
  background-color: var(--white);
  border-radius: 1px;
  flex-shrink: 1;
  height: 1px;
  margin-left: 0px;
  position: relative;
  width: 1px;
}

.communitypage .flex-row-o7OzLq {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 942px;
  position: relative;
  width: auto;
}

.communitypage .terms-conditions-HwFMv7 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .privacy-policy-HwFMv7 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 36px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .x2021-olga-andreyev-HwFMv7 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 395px;
  min-height: 19px;
  min-width: 297px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.communitypage .nav-links-Or5hFZ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: flex-start;
  left: 498px;
  min-width: 489px;
  position: absolute;
  top: 66px;
  width: auto;
}

.communitypage .state-neutral-MmMfkg {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  min-width: 69px;
  position: relative;
  width: auto;
}

.communitypage .text-QBvG8C {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 72px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.communitypage .state-neutral-copy-MmMfkg {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 52px;
  position: relative;
  width: auto;
}

.communitypage .text-zdUx6d {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 55px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.communitypage .state-neutral-copy-2-MmMfkg {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 63px;
  position: relative;
  width: auto;
}

.communitypage .text-UTC2xO {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 66px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.communitypage .state-neutral-copy-3-MmMfkg {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.communitypage .text-dptabr {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 133px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.communitypage .state-neutral-copy-4-MmMfkg {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 71px;
  position: relative;
  width: auto;
}

.communitypage .text-dwJ4Cd {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 74px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
