/* screen - lorepage */

.lorepage {
  background-color: var(--white);
  height: 2966px;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.lorepage .background-McQyOU {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/comic-page-rectangle-302DB920-9149-487E-B2AE-1B5175EE0C87.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 2966px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1024px;
  position: absolute;
  top: 0px;
  width: auto;
}

.lorepage .rectangle-XtpgBo {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 2966px;
  position: relative;
  width: 1024px;
}

.lorepage .footer-McQyOU {
  align-items: flex-end;
  background-color: var(--oxford-blue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 381px;
  padding: 22px 33px;
  position: absolute;
  top: 2585px;
  width: 1024px;
}

.lorepage .flex-row-gP7xDM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 113px;
  justify-content: flex-start;
  margin-top: 21px;
  min-width: 929px;
  position: relative;
  width: auto;
}

.lorepage .purple-copy-67U8XQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 73px;
  position: relative;
  width: 165px;
}

.lorepage .flex-col-67U8XQ {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 62px;
  min-height: 101px;
  position: relative;
  width: 702px;
}

.lorepage .flex-row-uyHdeH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 693px;
  position: relative;
  width: auto;
}

.lorepage .home-05GjJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  min-height: 24px;
  min-width: 62px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.lorepage .read-05GjJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 53px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.lorepage .lore-05GjJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 60px;
  min-height: 24px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 46px;
}

.lorepage .store-05GjJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 64px;
  min-height: 24px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.lorepage .community-05GjJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 56px;
  min-height: 24px;
  min-width: 116px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 116px;
}

.lorepage .about-05GjJP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 63px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 63px;
}

.lorepage .flex-row-cYcjUs {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 63px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 484px;
  position: relative;
  width: auto;
}

.lorepage .flex-col-c4LcJp {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.lorepage .characters-wAdYHi {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .settings-wAdYHi {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-right: 1.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .flex-col-nVTMOU {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 45px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.lorepage .books-6Wxq19 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  min-height: 21px;
  min-width: 44px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .artwork-6Wxq19 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .flex-col-9Xr1yn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 83px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.lorepage .fan-art-BI5Y69 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .patreon-BI5Y69 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .flex-col-qT8xqZ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 78px;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.lorepage .contact-us-UX44Eo {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 81px;
}

.lorepage .creator-UX44Eo {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 3.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .flex-col-gP7xDM {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 11px;
  min-height: 192px;
  position: relative;
  width: 942px;
}

.lorepage .flex-row-Xyo06s {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 933px;
  position: relative;
  width: auto;
}

.lorepage .flex-col-eOy2ku {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 72px;
  position: relative;
  width: 382px;
}

.lorepage .join-my-newsletter-t-ka1VF5 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  min-height: 28px;
  min-width: 282px;
  position: relative;
  text-align: left;
  width: 282px;
}

.lorepage .group-container-ka1VF5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 382px;
  position: relative;
  width: auto;
}

.lorepage .overlap-group-NYjxNx {
  align-items: center;
  background-color: var(--gallery);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  min-width: 282px;
  padding: 0 9px;
  position: relative;
  width: auto;
}

.lorepage .email-address-qRSDox {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 0px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .group-NYjxNx {
  align-items: center;
  background-color: var(--jaffa);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 85px;
  padding: 0 14px;
  position: relative;
  width: auto;
}

.lorepage .subscribe-rTPg7t {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  min-height: 15px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .gallery-eOy2ku {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 94px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .merchadise-eOy2ku {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-left: 44px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 84px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .blog-eOy2ku {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 81px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 35px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .faq-eOy2ku {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 109px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .flex-row-RHubDV {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 2px;
  margin-top: 70px;
  min-width: 59px;
  position: relative;
  width: auto;
}

.lorepage .facebook-feXV0F {
  background-color: transparent;
  background-image: url(../img/about-page-1-path-2DD1F344-A1B4-44E6-8815-ED925D0BDD11@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 19px;
  position: relative;
  width: 19px;
}

.lorepage .instagram-feXV0F {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/gallery-page--shape-731379D7-6D31-434C-AA03-3EEC16C014B7@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 20px;
  padding: 4px;
  position: relative;
  width: auto;
}

.lorepage .shape-xhqfba {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.lorepage .oval-xhqfba {
  background-color: var(--white);
  border-radius: 1px;
  flex-shrink: 1;
  height: 1px;
  margin-left: 0px;
  position: relative;
  width: 1px;
}

.lorepage .flex-row-9tTZyW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 942px;
  position: relative;
  width: auto;
}

.lorepage .terms-conditions-MGOe9y {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .privacy-policy-MGOe9y {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 36px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .x2021-olga-andreyev-MGOe9y {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 395px;
  min-height: 19px;
  min-width: 297px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .logo-copy-McQyOU {
  background-color: transparent;
  background-image: url(../img/comic-page-purple-CAD86BD1-7435-4D49-A8E3-5CF3B40AC12D@2x.png);
  background-size: 100% 100%;
  height: 108px;
  left: 42px;
  position: absolute;
  top: 32px;
  width: 244px;
}

.lorepage .rectangle-McQyOU {
  background-color: var(--electric-violet);
  height: 548px;
  left: 42px;
  position: absolute;
  top: 188px;
  width: 940px;
}

.lorepage .discover-more-and-be-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futuranowheadline-bd);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 123px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 206px;
  width: 379px;
}

.lorepage .tapastic-McQyOU {
  align-items: flex-start;
  background-color: var(--iron);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 269px;
  justify-content: flex-start;
  left: 522px;
  overflow: hidden;
  position: absolute;
  top: 353px;
  width: 400px;
}

.lorepage .tapastic-IAiBTn {
  background-color: transparent;
  flex-shrink: 1;
  height: 282px;
  margin-left: -84px;
  margin-top: -7px;
  position: relative;
  width: 501px;
}

.lorepage .learn-more-about-the-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  height: auto;
  left: 123px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 405px;
  width: 379px;
}

.lorepage .rectangle-JPt0M8 {
  background-color: var(--oxford-blue);
  height: 408px;
  left: 42px;
  position: absolute;
  top: 736px;
  width: 940px;
}

.lorepage .rectangle-copy-3-McQyOU {
  background-color: var(--electric-violet);
  height: 408px;
  left: 42px;
  position: absolute;
  top: 1552px;
  width: 940px;
}

.lorepage .rectangle-copy-McQyOU {
  background-color: var(--pearl-bush);
  height: 408px;
  left: 42px;
  position: absolute;
  top: 1144px;
  width: 940px;
}

.lorepage .btn-copy-McQyOU {
  align-items: center;
  background-color: var(--jaffa);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 51px;
  justify-content: flex-start;
  left: 123px;
  min-width: 160px;
  padding: 0 9px;
  position: absolute;
  top: 622px;
  width: auto;
}

.lorepage .start-reading-now-yLFyId {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 0px;
  min-height: 21px;
  min-width: 141px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 141px;
}

.lorepage .the-cast-McQyOU {
  background-color: transparent;
  color: var(--romance);
  font-family: var(--font-family-futura-bold);
  font-size: 32px;
  font-weight: 700;
  height: auto;
  left: 611px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 785px;
  white-space: nowrap;
  width: auto;
}

.lorepage .world-of-xantara-McQyOU {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 534px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 1191px;
  white-space: nowrap;
  width: auto;
}

.lorepage .gallery-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-bold);
  font-size: 32px;
  font-weight: 700;
  height: auto;
  left: 623px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 1599px;
  white-space: nowrap;
  width: auto;
}

.lorepage .rectangle-TxCUbV {
  background-color: transparent;
  height: 328px;
  left: 97px;
  position: absolute;
  top: 784px;
  width: 251px;
}

.lorepage .rectangle-copy-2-McQyOU {
  background-color: transparent;
  height: 328px;
  left: 97px;
  position: absolute;
  top: 1190px;
  width: 251px;
}

.lorepage .rectangle-copy-4-McQyOU {
  background-color: transparent;
  height: 328px;
  left: 97px;
  position: absolute;
  top: 1598px;
  width: 251px;
}

.lorepage .explore-more-of-the-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-helvetica);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: auto;
  left: 442px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 871px;
  width: 503px;
}

.lorepage .group-5-copy-McQyOU {
  align-items: flex-end;
  background-color: var(--jaffa);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 608px;
  min-width: 159px;
  padding: 11px 26px;
  position: absolute;
  top: 1037px;
  width: auto;
}

.lorepage .meet-the-cast-m0u2xz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 104px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .group-5-copy-3-McQyOU {
  align-items: flex-end;
  background-color: var(--jaffa);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 608px;
  min-width: 159px;
  padding: 11px 34px;
  position: absolute;
  top: 1851px;
  width: auto;
}

.lorepage .check-it-out-ZLvxcy {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 88px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .group-5-copy-2-McQyOU {
  align-items: flex-end;
  background-color: #7abfdb;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 608px;
  min-width: 159px;
  padding: 11px 12px;
  position: absolute;
  top: 1443px;
  width: auto;
}

.lorepage .explore-the-world-1z6jGH {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 132px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.lorepage .get-to-know-the-hist-McQyOU {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 442px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1281px;
  width: 480px;
}

.lorepage .beautifully-illustra-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  height: auto;
  left: 442px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1684px;
  width: 480px;
}

.lorepage .rectangle-g2K6Ve {
  background-color: var(--oxford-blue);
  box-shadow: 0px 0px 4px #00000080;
  height: 625px;
  left: 42px;
  position: absolute;
  top: 1960px;
  width: 940px;
}

.lorepage .noun_-arrow_2626410-McQyOU {
  background-color: transparent;
  height: 46px;
  left: 397px;
  position: absolute;
  top: 2504px;
  width: 25px;
}

.lorepage .group-McQyOU {
  align-items: flex-start;
  background-color: #f5f5f5;
  background-image: url(../img/lore-page-rectangle-B203D7E9-B845-4451-9669-C176C805362A.png);
  background-size: 100% 100%;
  box-shadow: 15px 19px 15px #2c2c2c80;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 327px;
  justify-content: flex-start;
  left: 522px;
  min-width: 380px;
  position: absolute;
  top: 2080px;
  width: auto;
}

.lorepage .rectangle-kq4Fhu {
  background: linear-gradient(0deg, rgba(82,82,82,0.83) 0%, rgba(216,216,216,0.00) 38%);
  background-color: transparent;
  flex-shrink: 1;
  height: 327px;
  position: relative;
  width: 380px;
}

.lorepage .title-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-bold);
  font-size: 48px;
  font-weight: 700;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 63px;
  position: absolute;
  text-align: left;
  top: 2049px;
  white-space: nowrap;
  width: auto;
}

.lorepage .rectangle-Vx3Gxg {
  background-color: #878787;
  border: 2px solid var(--white);
  height: 58px;
  left: 442px;
  position: absolute;
  top: 2498px;
  width: 80px;
}

.lorepage .rectangle-copy-5-McQyOU {
  background-color: var(--iron);
  height: 58px;
  left: 562px;
  position: absolute;
  top: 2498px;
  width: 80px;
}

.lorepage .rectangle-copy-6-McQyOU {
  background-color: var(--iron);
  height: 58px;
  left: 682px;
  position: absolute;
  top: 2498px;
  width: 80px;
}

.lorepage .rectangle-copy-7-McQyOU {
  background-color: var(--iron);
  height: 58px;
  left: 802px;
  position: absolute;
  top: 2498px;
  width: 80px;
}

.lorepage .rectangle-copy-8-McQyOU {
  background-color: var(--iron);
  height: 58px;
  left: 922px;
  position: absolute;
  top: 2498px;
  width: 60px;
}

.lorepage .different-shapes-co-McQyOU {
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 2192px;
  width: 380px;
}

.lorepage .nav-links-McQyOU {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: flex-start;
  left: 493px;
  min-width: 489px;
  position: absolute;
  top: 66px;
  width: auto;
}

.lorepage .state-neutral-VcaFpH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  min-width: 69px;
  position: relative;
  width: auto;
}

.lorepage .text-h74pB8 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 72px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.lorepage .state-neutral-copy-VcaFpH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 52px;
  position: relative;
  width: auto;
}

.lorepage .text-McWIBU {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 55px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.lorepage .state-neutral-copy-2-VcaFpH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 63px;
  position: relative;
  width: auto;
}

.lorepage .text-YsG1Wl {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 66px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.lorepage .state-neutral-copy-3-VcaFpH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.lorepage .text-oJ3qZ8 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 133px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.lorepage .state-neutral-copy-4-VcaFpH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 71px;
  position: relative;
  width: auto;
}

.lorepage .text-8xlIE5 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 74px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
