/* screen - characterpagemobile */

/* Mobile CSS */
      @media (max-width: 515px) {

/* desktop nav and footer divs will be hidden when in mobile views*/
          .nav-links-tFtDGi{
            display: none;
          }
          .cast{
            display: none;
          }

          .footer-tFtDGi{
            display: none;

          }

          .characterpage {
            align-items: flex-start;
            background-color: var(--white);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: flex-start;
            min-height: 1664px;
            overflow-x: hidden;
            position: relative;
            width: 320px;
          }

          .characterpage .overlap-group2-xIQQTp {
            background-color: transparent;
            flex-shrink: 1;
            height: 975px;
            position: relative;
            width: 382px;
          }

          .characterpage .background-tFtDGi {
            align-items: flex-start;
            background-color: transparent;
            background-image: url(../img/world-page-region-selected-mobile-rectangle-44E5E924-31BA-4B2F-BA00-EE2171D7E3AE.jpg);
            background-position: 50% 50%;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            height: 975px;
            justify-content: flex-start;
            left: 0px;
            min-width: 320px;
            position: absolute;
            top: 0px;
            width: auto;
          }

          .characterpage .rectangle-Afoknh {
            background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
            background-color: transparent;
            flex-shrink: 1;
            height: 975px;
            position: relative;
            width: 320px;
          }

          .characterpage .logo-copy-3-tFtDGi{
            background-color: transparent;
            background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
            background-size: 100% 100%;
            height: 60px;
            left: 92px;
            position: absolute;
            top: 27px;
            width: 135px;
          }

          .characterpage .rectangle-tFtDGi {
            background-color: var(--pearl-bush);
            height: 867px;
            left: 0px;
            position: absolute;
            top: 108px;
            width: 320px;
          }

          .characterpage .character-info-4fAGnh {
            background-color: transparent;
            font-weight: 700;
            height: auto;
            left: 17px;
            letter-spacing: 0.00px;
            line-height: 25px;
            position: absolute;
            text-align: left;
            top: 781px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .information-on-chara-4fAGnh {
            background-color: transparent;
            font-weight: 500;
            height: auto;
            left: 17px;
            letter-spacing: 0.00px;
            line-height: 19px;
            position: absolute;
            text-align: left;
            top: 821px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .information-on-chara-copy-4fAGnh {
            background-color: transparent;
            font-weight: 500;
            height: auto;
            left: 17px;
            letter-spacing: 0.00px;
            line-height: 19px;
            position: absolute;
            text-align: left;
            top: 852px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .information-on-chara-copy-2-4fAGnh {
            background-color: transparent;
            font-weight: 500;
            height: auto;
            left: 17px;
            letter-spacing: 0.00px;
            line-height: 19px;
            position: absolute;
            text-align: left;
            top: 883px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .main-cast-4fAGnh {
            background-color: transparent;
            font-weight: 700;
            height: auto;
            left: 56px;
            letter-spacing: 0.00px;
            line-height: 25px;
            position: absolute;
            text-align: left;
            top: 125px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .side-cast-4fAGnh {
            background-color: transparent;
            color: var(--black);
            font-weight: 500;
            height: auto;
            left: 167px;
            letter-spacing: 0.00px;
            line-height: 25px;
            position: absolute;
            text-align: left;
            top: 125px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .rectangle-copy-3-tFtDGi {
            background-color: transparent;
            height: 59px;
            left: 232px;
            position: absolute;
            top: 171px;
            width: 70px;
          }

          .characterpage .rectangle-copy-2-tFtDGi{
            background-color: transparent;
            height: 59px;
            left: 123px;
            position: absolute;
            top: 171px;
            width: 70px;
          }

          .characterpage .rectangle-gpDxZI {
            background-color: transparent;
            height: 59px;
            left: 52px;
            position: absolute;
            top: 171px;
            width: 70px;
          }

          .characterpage .rectangle-dZxO4Q {
            background-color: transparent;
            height: 59px;
            left: 12px;
            position: absolute;
            top: 171px;
            width: 70px;
          }

          .characterpage .rectangle-UNvlr6 {
            background-color: transparent;
            height: 179px;
            left: 10px;
            position: absolute;
            top: 254px;
            width: 299px;
          }

          .characterpage .group-3-4fAGnh {
            background-color: transparent;
            height: 18px;
            left: 105px;
            position: absolute;
            top: 399px;
            width: 109px;
          }

          .characterpage .keyboard_arrow_right-4fAGnh {
            background-color: transparent;
            background-image: url(../img/character-page-mobile-path-3469A455-8A09-4165-BBC5-0849A820C0D9@2x.png);
            background-size: 100% 100%;
            height: 22px;
            left: 289px;
            position: absolute;
            top: 328px;
            width: 13px;
          }

          .characterpage .keyboard_arrow_right-copy-4fAGnh {
            background-color: transparent;
            height: 22px;
            left: 17px;
            position: absolute;
            top: 329px;
            width: 13px;
          }

          .characterpage .title-4fAGnh {
            background-color: transparent;
            color: var(--black);
            font-family: var(--font-family-futurahandwritten);
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            height: auto;
            left: 17px;
            letter-spacing: 0.00px;
            line-height: 47px;
            position: absolute;
            text-align: left;
            top: 438px;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .one-of-the-protagoni-4fAGnh {
            background-color: transparent;
            color: var(--black);
            font-family: var(--font-family-futurahandwritten);
            font-size: var(--font-size-xl);
            font-style: normal;
            font-weight: 500;
            height: auto;
            left: 18px;
            letter-spacing: 0.00px;
            line-height: 24px;
            position: absolute;
            text-align: left;
            top: 498px;
            width: 284px;
          }

          .characterpage .footer-mobile-xIQQTp {
            align-items: center;
            background-color: var(--oxford-blue);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            height: auto;
            justify-content: flex-start;
            margin-top: 0px;
            min-height: 689px;
            padding: 31px 0;
            position: relative;
            width: 320px;
          }

          .characterpage .logo-QsQ7dD {
            align-self: flex-start;
            background-color: transparent;
            background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
            background-size: 100% 100%;
            flex-shrink: 1;
            height: 60px;
            margin-left: 18px;
            margin-top: 0px;
            position: relative;
            width: 135px;
          }

          .characterpage .join-my-newsletter-t-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 400;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 17px;
            margin-right: 1.0px;
            margin-top: 20px;
            min-height: 34px;
            min-width: 285px;
            position: relative;
            text-align: justify;
            width: 285px;
          }

          .characterpage .overlap-group-QsQ7dD {
            align-items: flex-end;
            background-color: var(--gallery);
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 30px;
            justify-content: flex-start;
            margin-right: 1.0px;
            margin-top: 18px;
            min-width: 285px;
            padding: 5px 13px;
            position: relative;
            width: auto;
          }

          .characterpage .email-address-3SQaxS {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            margin-left: 0px;
            min-height: 19px;
            min-width: 114px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .overlap-group1-QsQ7dD {
            align-items: center;
            background-color: var(--jaffa);
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 25px;
            justify-content: flex-end;
            margin-right: 1.0px;
            margin-top: 0px;
            min-width: 285px;
            padding: 0 111px;
            position: relative;
            width: auto;
          }

          .characterpage .subscribe-HLxkMf {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            min-height: 21px;
            min-width: 62px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: 62px;
          }

          .characterpage .home-QsQ7dD {
            align-self: flex-start;
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            margin-left: 17px;
            margin-top: 35px;
            min-height: 19px;
            min-width: 40px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .line-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            height: 2px;
            margin-top: 8px;
            position: relative;
            width: 287px;
          }

          .characterpage .read-QsQ7dD {
            align-self: flex-start;
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            margin-left: 17px;
            margin-top: 8px;
            min-height: 19px;
            min-width: 35px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .line-copy-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            height: 2px;
            margin-top: 8px;
            position: relative;
            width: 287px;
          }

          .characterpage .flex-row-QsQ7dD {
            align-items: flex-end;
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 19px;
            justify-content: flex-start;
            margin-right: 1.0px;
            margin-top: 8px;
            min-width: 285px;
            position: relative;
            width: auto;
          }

          .characterpage .lore-xlkgrh {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            min-height: 19px;
            min-width: 30px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .add_circle_outline-copy-2-xlkgrh {
            background-color: transparent;
            background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
            background-size: 100% 100%;
            flex-shrink: 1;
            height: 10px;
            margin-left: 245px;
            position: relative;
            width: 10px;
          }

          .characterpage .line-copy-2-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            height: 2px;
            margin-top: 8px;
            position: relative;
            width: 287px;
          }

          .characterpage .flex-row-DcnXIZ {
            align-items: flex-end;
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 19px;
            justify-content: flex-start;
            margin-right: 1.0px;
            margin-top: 8px;
            min-width: 285px;
            position: relative;
            width: auto;
          }

          .characterpage .store-4tsTqZ {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            min-height: 19px;
            min-width: 36px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .add_circle_outline-copy-3-4tsTqZ {
            background-color: transparent;
            background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
            background-size: 100% 100%;
            flex-shrink: 1;
            height: 10px;
            margin-left: 239px;
            position: relative;
            width: 10px;
          }

          .characterpage .line-copy-3-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            height: 2px;
            margin-top: 8px;
            position: relative;
            width: 287px;
          }

          .characterpage .flex-row-uUOMuh {
            align-items: flex-end;
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 19px;
            justify-content: flex-start;
            margin-right: 1.0px;
            margin-top: 8px;
            min-width: 285px;
            position: relative;
            width: auto;
          }

          .characterpage .community-9LO4yZ {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            min-height: 19px;
            min-width: 73px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .add_circle_outline-copy-4-9LO4yZ {
            background-color: transparent;
            background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
            background-size: 100% 100%;
            flex-shrink: 1;
            height: 10px;
            margin-bottom: 1px;
            margin-left: 202px;
            position: relative;
            width: 10px;
          }

          .characterpage .line-copy-4-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            height: 2px;
            margin-top: 8px;
            position: relative;
            width: 287px;
          }

          .characterpage .flex-row-vTcixx {
            align-items: flex-end;
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 19px;
            justify-content: flex-start;
            margin-right: 1.0px;
            margin-top: 8px;
            min-width: 285px;
            position: relative;
            width: auto;
          }

          .characterpage .about-bUsGW3 {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            min-height: 19px;
            min-width: 41px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .add_circle_outline-copy-5-bUsGW3 {
            background-color: transparent;
            background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
            background-size: 100% 100%;
            flex-shrink: 1;
            height: 10px;
            margin-bottom: 1px;
            margin-left: 234px;
            position: relative;
            width: 10px;
          }

          .characterpage .line-copy-5-QsQ7dD {
            background-color: transparent;
            flex-shrink: 1;
            height: 2px;
            margin-top: 8px;
            position: relative;
            width: 287px;
          }

          .characterpage .facebook-container-QsQ7dD {
            align-items: flex-start;
            align-self: flex-start;
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 20px;
            justify-content: flex-start;
            margin-left: 17px;
            margin-top: 28px;
            min-width: 99px;
            position: relative;
            width: auto;
          }

          .characterpage .facebook-SXNxIt {
            background-color: transparent;
            background-image: url(../img/world-page-mobile-path-91CECC77-1C3C-4870-97D5-486B414B5CF9@2x.png);
            background-size: 100% 100%;
            flex-shrink: 1;
            height: 20px;
            position: relative;
            width: 20px;
          }

          .characterpage .facebook-fotDuz {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            margin-left: 14px;
            min-height: 19px;
            min-width: 65px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .instagram-container-QsQ7dD {
            align-items: flex-end;
            align-self: flex-start;
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 20px;
            justify-content: flex-start;
            margin-left: 17px;
            margin-top: 23px;
            min-width: 99px;
            position: relative;
            width: auto;
          }

          .characterpage .instagram-5tsNAr {
            align-items: flex-start;
            background-color: transparent;
            background-image: url(../img/lore-page-mobile-shape-DBC0EE37-B1C2-4711-AB27-5FBF42870FB7@2x.png);
            background-size: 100% 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-shrink: 1;
            height: 20px;
            justify-content: flex-end;
            min-width: 20px;
            padding: 4px;
            position: relative;
            width: auto;
          }

          .characterpage .shape-Y2VPmc {
            align-self: center;
            background-color: transparent;
            flex-shrink: 1;
            height: 10px;
            position: relative;
            width: 10px;
          }

          .characterpage .oval-Y2VPmc {
            background-color: var(--white);
            border-radius: 1px;
            flex-shrink: 1;
            height: 1px;
            margin-left: 0px;
            position: relative;
            width: 1px;
          }

          .characterpage .instagram-YCOeQn {
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 19px;
            margin-left: 14px;
            min-height: 19px;
            min-width: 65px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .x2021-olga-andreyev-QsQ7dD {
            align-self: flex-start;
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 14px;
            margin-left: 17px;
            margin-top: 37px;
            min-height: 14px;
            min-width: 236px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }

          .characterpage .privacy-policy-QsQ7dD {
            align-self: flex-start;
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 14px;
            margin-left: 17px;
            margin-top: 11px;
            min-height: 18px;
            min-width: 112px;
            position: relative;
            text-align: justify;
            width: 112px;
          }

          .characterpage .terms-conditions-QsQ7dD {
            align-self: flex-start;
            background-color: transparent;
            flex-shrink: 1;
            font-weight: 500;
            height: auto;
            letter-spacing: 0.00px;
            line-height: 14px;
            margin-left: 17px;
            margin-top: 6px;
            min-height: 14px;
            min-width: 99px;
            position: relative;
            text-align: justify;
            white-space: nowrap;
            width: auto;
          }
      }


/*Desktop CSS  */

@media (min-width: 516px) {

.characterpage {
  background-color: var(--white);
  height: 1441px;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.characterpage .background-tFtDGi {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/comic-page-rectangle-302DB920-9149-487E-B2AE-1B5175EE0C87.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1441px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1024px;
  position: absolute;
  top: 0px;
  width: auto;
}

.characterpage .rectangle-Afoknh {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 1441px;
  position: relative;
  width: 1024px;
}

.characterpage .logo-copy-3-tFtDGi {
  background-color: transparent;
  background-image: url(../img/comic-page-purple-CAD86BD1-7435-4D49-A8E3-5CF3B40AC12D@2x.png);
  background-size: 100% 100%;
  height: 108px;
  left: 42px;
  position: absolute;
  top: 32px;
  width: 244px;
}

.characterpage .rectangle-tFtDGi {
  background-color: var(--pearl-bush);
  height: 914px;
  left: 42px;
  position: absolute;
  top: 146px;
  width: 940px;
}

.characterpage .oval-tFtDGi {
  background-color: #bf702f;
  border-radius: 14px;
  height: 14px;
  left: 842px;
  position: absolute;
  top: 446px;
  width: 14px;
}

.characterpage .oval-copy-tFtDGi {
  background-color: var(--jaffa);
  border-radius: 14px;
  height: 14px;
  left: 842px;
  position: absolute;
  top: 477px;
  width: 14px;
}

.characterpage .oval-copy-2-tFtDGi {
  background-color: var(--jaffa);
  border-radius: 14px;
  height: 14px;
  left: 842px;
  position: absolute;
  top: 508px;
  width: 14px;
}

.characterpage .oval-copy-3-tFtDGi {
  background-color: var(--jaffa);
  border-radius: 14px;
  height: 14px;
  left: 842px;
  position: absolute;
  top: 539px;
  width: 14px;
}

.characterpage .oval-copy-4-tFtDGi {
  background-color: var(--jaffa);
  border-radius: 14px;
  height: 14px;
  left: 842px;
  position: absolute;
  top: 570px;
  width: 14px;
}

.characterpage .placeholder-plac-tFtDGi {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 752px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 802px;
  width: 160px;
}

.characterpage .span1-TOmBXi {
}

.characterpage .span2-TOmBXi {
}

.characterpage .span3-TOmBXi {
}

.characterpage .one-of-the-protagoni-tFtDGi {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futurahandwritten);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 203px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 831px;
  width: 479px;
}

.characterpage .rectangle-UNvlr6 {
  background-color: transparent;
  height: 352px;
  left: 195px;
  position: absolute;
  top: 368px;
  width: 634px;
}

.characterpage .rectangle-gpDxZI {
  background-color: transparent;
  height: 80px;
  left: 337px;
  position: absolute;
  top: 248px;
  width: 94px;
}

.characterpage .rectangle-copy-tFtDGi {
  background-color: transparent;
  height: 80px;
  left: 213px;
  position: absolute;
  top: 248px;
  width: 94px;
}

.characterpage .rectangle-dZxO4Q {
  background-color: #dcdcdc;
  border: 2px solid var(--jaffa);
  height: 66px;
  left: 224px;
  position: absolute;
  top: 251px;
  width: 80px;
}

.characterpage .rectangle-copy-2-tFtDGi {
  background-color: transparent;
  height: 80px;
  left: 461px;
  position: absolute;
  top: 248px;
  width: 94px;
}

.characterpage .rectangle-copy-3-tFtDGi {
  background-color: transparent;
  height: 80px;
  left: 585px;
  position: absolute;
  top: 248px;
  width: 94px;
}

.characterpage .rectangle-copy-4-tFtDGi {
  background-color: transparent;
  height: 80px;
  left: 709px;
  position: absolute;
  top: 248px;
  width: 94px;
}

.characterpage .footer-tFtDGi {
  align-items: flex-end;
  background-color: var(--oxford-blue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 381px;
  padding: 22px 33px;
  position: absolute;
  top: 1060px;
  width: 1024px;
}

.characterpage .flex-row-gFqnda {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 113px;
  justify-content: flex-start;
  margin-top: 21px;
  min-width: 929px;
  position: relative;
  width: auto;
}

.characterpage .purple-copy-xG1TxQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 73px;
  position: relative;
  width: 165px;
}

.characterpage .flex-col-xG1TxQ {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 62px;
  min-height: 101px;
  position: relative;
  width: 702px;
}

.characterpage .flex-row-33JcIu {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 693px;
  position: relative;
  width: auto;
}

.characterpage .home-4mCeD2 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  min-height: 24px;
  min-width: 62px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.characterpage .read-4mCeD2 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 53px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.characterpage .lore-4mCeD2 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 60px;
  min-height: 24px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 46px;
}

.characterpage .store-4mCeD2 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 64px;
  min-height: 24px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.characterpage .community-4mCeD2 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 56px;
  min-height: 24px;
  min-width: 116px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 116px;
}

.characterpage .about-4mCeD2 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 63px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 63px;
}

.characterpage .flex-row-KnJRvt {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 63px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 484px;
  position: relative;
  width: auto;
}

.characterpage .flex-col-NViNax {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.characterpage .characters-IIW7fr {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .settings-IIW7fr {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-right: 1.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .flex-col-74lxFz {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 45px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.characterpage .books-UFYKG4 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  min-height: 21px;
  min-width: 44px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .artwork-UFYKG4 {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .flex-col-LnxFoS {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 83px;
  min-height: 63px;
  position: relative;
  width: 58px;
}

.characterpage .fan-art-4Xjxeu {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .patreon-4Xjxeu {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .flex-col-lm00FF {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 78px;
  min-height: 63px;
  position: relative;
  width: 81px;
}

.characterpage .contact-us-aYhvPk {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 81px;
}

.characterpage .creator-aYhvPk {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 3.0px;
  margin-top: 21px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .flex-col-gFqnda {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 11px;
  min-height: 192px;
  position: relative;
  width: 942px;
}

.characterpage .flex-row-kxpGlK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 933px;
  position: relative;
  width: auto;
}

.characterpage .flex-col-PjD0mT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 72px;
  position: relative;
  width: 382px;
}

.characterpage .join-my-newsletter-t-T5A2zr {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  min-height: 28px;
  min-width: 282px;
  position: relative;
  text-align: left;
  width: 282px;
}

.characterpage .group-container-T5A2zr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 382px;
  position: relative;
  width: auto;
}

.characterpage .overlap-group-m1SxYq {
  align-items: center;
  background-color: var(--gallery);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-start;
  min-width: 282px;
  padding: 0 9px;
  position: relative;
  width: auto;
}

.characterpage .email-address-yujhxd {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 0px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .group-m1SxYq {
  align-items: center;
  background-color: var(--jaffa);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 29px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 85px;
  padding: 0 14px;
  position: relative;
  width: auto;
}

.characterpage .subscribe-IXxvKa {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15px;
  min-height: 15px;
  min-width: 55px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .gallery-PjD0mT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 94px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .merchadise-PjD0mT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.40px;
  line-height: 21px;
  margin-left: 44px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 84px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .blog-PjD0mT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 81px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 35px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .faq-PjD0mT {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  margin-left: 109px;
  margin-top: 10px;
  min-height: 21px;
  min-width: 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .flex-row-s6DF8Q {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-right: 2px;
  margin-top: 70px;
  min-width: 59px;
  position: relative;
  width: auto;
}

.characterpage .facebook-Dacx5J {
  background-color: transparent;
  background-image: url(../img/about-page-1-path-2DD1F344-A1B4-44E6-8815-ED925D0BDD11@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 19px;
  position: relative;
  width: 19px;
}

.characterpage .instagram-Dacx5J {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/gallery-page--shape-731379D7-6D31-434C-AA03-3EEC16C014B7@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 20px;
  padding: 4px;
  position: relative;
  width: auto;
}

.characterpage .shape-KBRE34 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.characterpage .oval-KBRE34 {
  background-color: var(--white);
  border-radius: 1px;
  flex-shrink: 1;
  height: 1px;
  margin-left: 0px;
  position: relative;
  width: 1px;
}

.characterpage .flex-row-rrzRSV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 942px;
  position: relative;
  width: auto;
}

.characterpage .terms-conditions-lFkCnz {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 124px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .privacy-policy-lFkCnz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 36px;
  min-height: 19px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .x2021-olga-andreyev-lFkCnz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 395px;
  min-height: 19px;
  min-width: 297px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.characterpage .main-cast-tFtDGi {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futura-bold);
  font-size: 30px;
  font-weight: 700;
  height: auto;
  left: 327px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 172px;
  white-space: nowrap;
  width: auto;
}

.characterpage .side-cast-tFtDGi {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futura-medium);
  font-size: 30px;
  font-weight: 500;
  height: auto;
  left: 567px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 172px;
  white-space: nowrap;
  width: auto;
}

.characterpage .rectangle-8Fr6y8 {
  background-color: var(--pearl-bush);
  filter: blur(8px);;
  height: 146px;
  left: 787px;
  position: absolute;
  top: 211px;
  width: 35px;
}

.characterpage .path-copy-tFtDGi {
  background-color: transparent;
  height: 40px;
  left: 822px;
  position: absolute;
  top: 264px;
  width: 20px;
}

.characterpage .path-copy-2-tFtDGi {
  background-color: transparent;
  height: 40px;
  left: 183px;
  position: absolute;
  top: 264px;
  width: 20px;
}

.characterpage .elin-tFtDGi {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futurahandwritten);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: 746px;
  white-space: nowrap;
  width: auto;
}

.characterpage .characters-info-tFtDGi {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 762px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 766px;
  white-space: nowrap;
  width: 140px;
}

.characterpage .image-1-tFtDGi {
  background-color: transparent;
  color: #676767;
  font-family: var(--font-family-futura-medium);
  font-size: 10px;
  font-weight: 500;
  height: auto;
  left: 864px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 446px;
  white-space: nowrap;
  width: auto;
}

.characterpage .nav-links-tFtDGi {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: flex-start;
  left: 498px;
  min-width: 489px;
  position: absolute;
  top: 66px;
  width: auto;
}

.characterpage .state-neutral-k257GK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  min-width: 69px;
  position: relative;
  width: auto;
}

.characterpage .text-oKAafM {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 72px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.characterpage .state-neutral-copy-k257GK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 52px;
  position: relative;
  width: auto;
}

.characterpage .text-qEgVLt {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 55px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.characterpage .state-neutral-copy-2-k257GK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 63px;
  position: relative;
  width: auto;
}

.characterpage .text-xujlfQ {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 66px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.characterpage .state-neutral-copy-3-k257GK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.characterpage .text-UQuDsC {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 133px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.characterpage .state-neutral-copy-4-k257GK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  margin-left: 26px;
  min-width: 71px;
  position: relative;
  width: auto;
}

.characterpage .text-Gxmw5E {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.00px;
  line-height: 27px;
  min-height: 26px;
  min-width: 74px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
}
