/* screen - comicpagemobile */

.comicpagemobile {
  background-color: var(--white);
  height: 706px;
  overflow-x: hidden;
  position: relative;
  width: 320px;
}

.comicpagemobile .background-nxUU6E {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/world-page-region-selected-mobile-rectangle-44E5E924-31BA-4B2F-BA00-EE2171D7E3AE.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 706px;
  justify-content: flex-start;
  left: 0px;
  min-width: 320px;
  position: absolute;
  top: 0px;
  width: auto;
}

.comicpagemobile .rectangle-v8R64H {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 706px;
  position: relative;
  width: 320px;
}

.comicpagemobile .group-9-nxUU6E {
  background-color: transparent;
  height: 525px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}

.comicpagemobile .rectangle-3GGSrf {
  background-color: transparent;
  height: 320px;
  left: -7px;
  position: absolute;
  top: 216px;
  width: 342px;
}

.comicpagemobile .rectangle-hLuCCB {
  background-color: transparent;
  height: 249px;
  left: -7px;
  position: absolute;
  top: -11px;
  width: 342px;
}

.comicpagemobile .rectangle-nxUU6E {
  background-color: var(--oxford-blue);
  height: 47px;
  left: 0px;
  position: absolute;
  top: 659px;
  width: 320px;
}

.comicpagemobile .noun_instagram-comment_3460458-nxUU6E {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: flex-start;
  left: 284px;
  min-width: 18px;
  position: absolute;
  top: 673px;
  width: auto;
}

.comicpagemobile .shape-UeJjWl {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: -2px;
  margin-top: -1.5px;
  position: relative;
  width: 22px;
}

.comicpagemobile .logo-copy-nxUU6E {
  background-color: transparent;
  background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
  background-size: 100% 100%;
  height: 60px;
  left: 92px;
  position: absolute;
  top: 27px;
  width: 135px;
}

.comicpagemobile .rectangle-rG1Odn {
  background-color: var(--oxford-blue);
  height: 47px;
  left: 0px;
  position: absolute;
  top: 87px;
  width: 320px;
}

.comicpagemobile .bookmark-nxUU6E {
  background-color: transparent;
  background-image: url(../img/comic-page-mobile-path-B7024957-7721-455A-B9B5-26A861F4F6C8@2x.png);
  background-size: 100% 100%;
  height: 14px;
  left: 17px;
  position: absolute;
  top: 104px;
  width: 12px;
}

.comicpagemobile .chapter-4-willow-nxUU6E {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 91px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 91px;
  white-space: nowrap;
  width: auto;
}

.comicpagemobile .page-10-nxUU6E {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futurastd-book);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 137px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 115px;
  white-space: nowrap;
  width: auto;
}

.comicpagemobile .more_vert-nxUU6E {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-87D99C65-240B-47E3-9E57-7B6C6E582AAA@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 303px;
  position: absolute;
  top: 103px;
  width: 4px;
}

.comicpagemobile .noun_-next_1597195-copy-2-nxUU6E {
  align-items: center;
  background-color: transparent;
  background-image: url(../img/comic-page-mobile-shape-799408E9-107E-4D11-B252-E6410589FA56@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-start;
  left: 55px;
  min-width: 16px;
  padding: 0 6px;
  position: absolute;
  top: 675px;
  width: auto;
}

.comicpagemobile .path-YZz4UL {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 0px;
  position: relative;
  width: 4px;
}

.comicpagemobile .noun_-next_1597195-copy-3-nxUU6E {
  background-color: transparent;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 675px;
  width: 16px;
}

.comicpagemobile .favorite-nxUU6E {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-end;
  left: 242px;
  min-width: 18px;
  position: absolute;
  top: 675px;
  width: auto;
}

.comicpagemobile .path-7OBEE1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-top: -2.0px;
  position: relative;
  width: 23px;
}
