/* screen - landingpagemobile */

.landingpagemobile {
  background-color: var(--white);
  height: 2010px;
  overflow-x: hidden;
  position: relative;
  width: 320px;
}

.landingpagemobile .background-mBRe47 {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/world-page-region-selected-mobile-rectangle-44E5E924-31BA-4B2F-BA00-EE2171D7E3AE.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 2010px;
  justify-content: flex-start;
  left: 0px;
  min-width: 320px;
  position: absolute;
  top: 0px;
  width: auto;
}

.landingpagemobile .rectangle-EF8PN3 {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 2010px;
  position: relative;
  width: 320px;
}

.landingpagemobile .footer-mobile-mBRe47 {
  align-items: center;
  background-color: var(--oxford-blue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 689px;
  padding: 31px 0;
  position: absolute;
  top: 1321px;
  width: 320px;
}

.landingpagemobile .logo-PwNsYk {
  align-self: flex-start;
  background-color: transparent;
  background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 60px;
  margin-left: 18px;
  margin-top: 0px;
  position: relative;
  width: 135px;
}

.landingpagemobile .join-my-newsletter-t-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  margin-right: 1.0px;
  margin-top: 20px;
  min-height: 34px;
  min-width: 285px;
  position: relative;
  text-align: justify;
  width: 285px;
}

.landingpagemobile .overlap-group-PwNsYk {
  align-items: flex-end;
  background-color: var(--gallery);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 18px;
  min-width: 285px;
  padding: 5px 13px;
  position: relative;
  width: auto;
}

.landingpagemobile .email-address-RunB4n {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 0px;
  min-height: 19px;
  min-width: 114px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .overlap-group1-PwNsYk {
  align-items: center;
  background-color: var(--jaffa);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 25px;
  justify-content: flex-end;
  margin-right: 1.0px;
  margin-top: 0px;
  min-width: 285px;
  padding: 0 111px;
  position: relative;
  width: auto;
}

.landingpagemobile .subscribe-3NG1Wt {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 21px;
  min-width: 62px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: 62px;
}

.landingpagemobile .home-PwNsYk {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 17px;
  margin-top: 35px;
  min-height: 19px;
  min-width: 40px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .line-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.landingpagemobile .read-PwNsYk {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 17px;
  margin-top: 8px;
  min-height: 19px;
  min-width: 35px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .line-copy-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.landingpagemobile .flex-row-PwNsYk {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.landingpagemobile .lore-HgD4zn {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 30px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .add_circle_outline-copy-2-HgD4zn {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-left: 245px;
  position: relative;
  width: 10px;
}

.landingpagemobile .line-copy-2-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.landingpagemobile .flex-row-Ai94Vw {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.landingpagemobile .store-tf6hXS {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 36px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .add_circle_outline-copy-3-tf6hXS {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-left: 239px;
  position: relative;
  width: 10px;
}

.landingpagemobile .line-copy-3-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.landingpagemobile .flex-row-QZrTpU {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.landingpagemobile .community-aR1box {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 73px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .add_circle_outline-copy-4-aR1box {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-bottom: 1px;
  margin-left: 202px;
  position: relative;
  width: 10px;
}

.landingpagemobile .line-copy-4-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.landingpagemobile .flex-row-PVAeCa {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.landingpagemobile .about-s4Nv3N {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 41px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .add_circle_outline-copy-5-s4Nv3N {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-bottom: 1px;
  margin-left: 234px;
  position: relative;
  width: 10px;
}

.landingpagemobile .line-copy-5-PwNsYk {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.landingpagemobile .facebook-container-PwNsYk {
  align-items: flex-start;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-left: 17px;
  margin-top: 28px;
  min-width: 99px;
  position: relative;
  width: auto;
}

.landingpagemobile .facebook-N3Aye5 {
  background-color: transparent;
  background-image: url(../img/world-page-mobile-path-91CECC77-1C3C-4870-97D5-486B414B5CF9@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}

.landingpagemobile .facebook-1xV9lr {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 14px;
  min-height: 19px;
  min-width: 65px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .instagram-container-PwNsYk {
  align-items: flex-end;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-left: 17px;
  margin-top: 23px;
  min-width: 99px;
  position: relative;
  width: auto;
}

.landingpagemobile .instagram-urBcQk {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/lore-page-mobile-shape-DBC0EE37-B1C2-4711-AB27-5FBF42870FB7@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  min-width: 20px;
  padding: 4px;
  position: relative;
  width: auto;
}

.landingpagemobile .shape-H2ciur {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.landingpagemobile .oval-H2ciur {
  background-color: var(--white);
  border-radius: 1px;
  flex-shrink: 1;
  height: 1px;
  margin-left: 0px;
  position: relative;
  width: 1px;
}

.landingpagemobile .instagram-xfpVUf {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 14px;
  min-height: 19px;
  min-width: 65px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .x2021-olga-andreyev-PwNsYk {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 17px;
  margin-top: 37px;
  min-height: 14px;
  min-width: 236px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .privacy-policy-PwNsYk {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 17px;
  margin-top: 11px;
  min-height: 18px;
  min-width: 112px;
  position: relative;
  text-align: justify;
  width: 112px;
}

.landingpagemobile .terms-conditions-PwNsYk {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 17px;
  margin-top: 6px;
  min-height: 14px;
  min-width: 99px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .rectangle-mBRe47 {
  background-color: var(--pearl-bush);
  height: 431px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.landingpagemobile .logo-mBRe47 {
  background-color: transparent;
  background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
  background-size: 100% 100%;
  height: 60px;
  left: 92px;
  position: absolute;
  top: 27px;
  width: 135px;
}

.landingpagemobile .rectangle-NMgUlF {
  background-color: transparent;
  height: 216px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 108px;
  width: 285px;
}

.landingpagemobile .keyboard_arrow_right-mBRe47 {
  background-color: transparent;
  background-image: url(../img/landing-page-mobile-path-9EE70147-FE82-4D3B-9E91-50F7AA7666E2@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 271px;
  position: absolute;
  top: 228px;
  width: 21px;
}

.landingpagemobile .keyboard_arrow_right-copy-mBRe47 {
  background-color: transparent;
  height: 42px;
  left: 25px;
  position: absolute;
  top: 225px;
  width: 25px;
}

.landingpagemobile .welcome-to-the-world-mBRe47 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futuranowheadline-bd);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 245px;
}

.landingpagemobile .btn-mBRe47 {
  align-items: center;
  background-color: var(--jaffa);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: flex-end;
  left: 104px;
  min-width: 113px;
  padding: 0 16px;
  position: absolute;
  top: 340px;
  width: auto;
}

.landingpagemobile .check-them-out-lQcGgz {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  min-height: 14px;
  min-width: 79px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .vol1-2-available-mBRe47 {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 68px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 229px;
  width: 185px;
}

.landingpagemobile .rectangle-tIxO2L {
  background-color: var(--oxford-blue);
  height: 506px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.landingpagemobile .for-all-returning-re-mBRe47 {
  background-color: transparent;
  color: #fdfdfd;
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: justify;
  top: 691px;
  width: 285px;
}

.landingpagemobile .welcome-and-explore-mBRe47 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 401px;
  width: 285px;
}

.landingpagemobile .rectangle-3FZnkX {
  background-color: transparent;
  height: 209px;
  left: 55px;
  position: absolute;
  top: 462px;
  width: 209px;
}

.landingpagemobile .btn-copy-mBRe47 {
  align-items: center;
  background-color: var(--aqua-pearl);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: flex-end;
  left: 104px;
  min-width: 113px;
  padding: 0 13px;
  position: absolute;
  top: 820px;
  width: auto;
}

.landingpagemobile .explore-the-lore-VNYbcP {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  min-height: 14px;
  min-width: 82px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .btn-copy-2-mBRe47 {
  align-items: center;
  background-color: var(--aqua-pearl);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: flex-end;
  left: 104px;
  min-width: 113px;
  padding: 0 13px;
  position: absolute;
  top: 1246px;
  width: auto;
}

.landingpagemobile .explore-the-lore-IHPh5x {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  min-height: 14px;
  min-width: 82px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.landingpagemobile .rectangle-a6wF0R {
  background-color: transparent;
  height: 173px;
  left: 5px;
  position: absolute;
  top: 924px;
  width: 309px;
}

.landingpagemobile .explore-the-world-of-mBRe47 {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: justify;
  top: 1117px;
  width: 285px;
}
