/* screen - mobilenav */

.mobilenav {
  background-color: #f2f2f2;
  height: 554px;
  overflow-x: hidden;
  position: relative;
  width: 320px;
}

.mobilenav .burger-menu-ndow53 {
  background-color: transparent;
  height: 554px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.mobilenav .background-txtKQ2 {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/world-page-region-selected-mobile-rectangle-44E5E924-31BA-4B2F-BA00-EE2171D7E3AE.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 554px;
  justify-content: flex-start;
  left: 0px;
  min-width: 320px;
  position: absolute;
  top: 0px;
  width: auto;
}

.mobilenav .rectangle-oLDjX4 {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 554px;
  position: relative;
  width: 320px;
}

.mobilenav .rectangle-txtKQ2 {
  background-color: #d0d0d0;
  height: 554px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.mobilenav .footer-txtKQ2 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 20px;
  min-height: 86px;
  position: absolute;
  top: 439px;
  width: 267px;
}

.mobilenav .social-AT1Wxw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-start;
  min-width: 44px;
  position: relative;
  width: auto;
}

.mobilenav .icons-16px-social-facebook-RVgpL0 {
  background-color: transparent;
  background-image: url(../img/mobile-nav-icon-0DB62077-2447-4743-9480-007447011D03@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 16px;
  position: relative;
  width: 16px;
}

.mobilenav .icons-16px-social-linkedin-RVgpL0 {
  background-color: transparent;
  background-image: url(../img/mobile-nav-icon-7F74EBEA-5401-44A0-A6FA-360FCA7FB1E4@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 16px;
  margin-left: 12px;
  position: relative;
  width: 16px;
}

.mobilenav .muted-AT1Wxw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 22px;
  min-height: 48px;
  position: relative;
  width: 267px;
}

.mobilenav .x2022-olga-andreyev-pU4W7U {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  min-height: 20px;
  min-width: 269px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.mobilenav .flex-row-pU4W7U {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 8px;
  min-width: 212px;
  position: relative;
  width: auto;
}

.mobilenav .privacy-policy-uhJwzT {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  min-height: 20px;
  min-width: 90px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.mobilenav .terms-of-service-uhJwzT {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  margin-left: 14px;
  min-height: 20px;
  min-width: 108px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.mobilenav .icons-24px-close-txtKQ2 {
  background-color: transparent;
  background-image: url(../img/mobile-nav-icon-711A5D59-C2C7-4263-8EC4-AB4FD04EB0D8@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 20px;
  position: absolute;
  top: 22px;
  width: 16px;
}

.mobilenav .community-ndow53 {
  background-color: transparent;
  color: var(--jaffa);
  font-weight: 700;
  height: auto;
  left: 20px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 282px;
  white-space: nowrap;
  width: 172px;
}

.mobilenav .about-ndow53 {
  background-color: transparent;
  color: var(--jaffa);
  font-weight: 700;
  height: auto;
  left: 20px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 330px;
  white-space: nowrap;
  width: 172px;
}

.mobilenav .store-ndow53 {
  background-color: transparent;
  color: var(--jaffa);
  font-weight: 700;
  height: auto;
  left: 20px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 234px;
  white-space: nowrap;
  width: 240px;
}

.mobilenav .lore-ndow53 {
  background-color: transparent;
  color: var(--jaffa);
  font-weight: 700;
  height: auto;
  left: 20px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 186px;
  white-space: nowrap;
  width: 240px;
}

.mobilenav .read-ndow53 {
  background-color: transparent;
  color: var(--jaffa);
  font-weight: 700;
  height: auto;
  left: 20px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 138px;
  white-space: nowrap;
  width: 240px;
}

.mobilenav .home-ndow53 {
  background-color: transparent;
  color: var(--jaffa);
  font-weight: 700;
  height: auto;
  left: 20px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: 240px;
}
