/* screen - worldpageregionselectedmobile */

.worldpageregionselectedmobile {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 1316px;
  overflow-x: hidden;
  position: relative;
  width: 320px;
}

.worldpageregionselectedmobile .overlap-group2-agAicz {
  background-color: transparent;
  flex-shrink: 1;
  height: 627px;
  position: relative;
  width: 320px;
}

.worldpageregionselectedmobile .background-3akrGb {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/world-page-region-selected-mobile-rectangle-44E5E924-31BA-4B2F-BA00-EE2171D7E3AE.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 627px;
  justify-content: flex-start;
  left: 0px;
  min-width: 320px;
  position: absolute;
  top: 0px;
  width: auto;
}

.worldpageregionselectedmobile .rectangle-771Eg0 {
  background: radial-gradient(50% 79%, rgba(75,29,93,0.14) 50%, rgba(51,23,74,0.69) 69%, #26143E 80%);
  background-color: transparent;
  flex-shrink: 1;
  height: 627px;
  position: relative;
  width: 320px;
}

.worldpageregionselectedmobile .logo-copy-3-3akrGb {
  background-color: transparent;
  background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
  background-size: 100% 100%;
  height: 60px;
  left: 92px;
  position: absolute;
  top: 27px;
  width: 135px;
}

.worldpageregionselectedmobile .rectangle-3akrGb {
  background-color: var(--pearl-bush);
  height: 519px;
  left: 0px;
  position: absolute;
  top: 108px;
  width: 320px;
}

.worldpageregionselectedmobile .characters-from-this-3akrGb {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 540px;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .oval-3akrGb {
  background-color: transparent;
  height: 54px;
  left: 6px;
  position: absolute;
  top: 560px;
  width: 54px;
}

.worldpageregionselectedmobile .oval-copy-3akrGb {
  background-color: transparent;
  height: 54px;
  left: 69px;
  position: absolute;
  top: 560px;
  width: 54px;
}

.worldpageregionselectedmobile .oval-copy-2-3akrGb {
  background-color: transparent;
  height: 54px;
  left: 132px;
  position: absolute;
  top: 560px;
  width: 54px;
}

.worldpageregionselectedmobile .world-of-xantara-3akrGb {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 125px;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .rectangle-KqdsLl {
  background-color: transparent;
  height: 150px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 173px;
  width: 285px;
}

.worldpageregionselectedmobile .sanra-3akrGb {
  -webkit-text-stroke: 3px var(--black);
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-futurahandwritten);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 346px;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .cancel-3akrGb {
  background-color: transparent;
  background-image: url(../img/world-page-region-selected-mobile-shape-BD29E3FD-3A4C-4A97-A616-AE039E7F2B26@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 21px;
  position: absolute;
  top: 178px;
  width: 16px;
}

.worldpageregionselectedmobile .coventry-is-a-city-w-3akrGb {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 377px;
  width: 285px;
}

.worldpageregionselectedmobile .footer-mobile-agAicz {
  align-items: center;
  background-color: var(--oxford-blue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 0px;
  min-height: 689px;
  padding: 31px 0;
  position: relative;
  width: 320px;
}

.worldpageregionselectedmobile .logo-CCPWdf {
  align-self: flex-start;
  background-color: transparent;
  background-image: url(../img/character-page-mobile-purple-84A9FF40-81F6-472D-A5D9-7C4529CAD2B1@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 60px;
  margin-left: 18px;
  margin-top: 0px;
  position: relative;
  width: 135px;
}

.worldpageregionselectedmobile .join-my-newsletter-t-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  margin-right: 1.0px;
  margin-top: 20px;
  min-height: 34px;
  min-width: 285px;
  position: relative;
  text-align: justify;
  width: 285px;
}

.worldpageregionselectedmobile .overlap-group-CCPWdf {
  align-items: flex-end;
  background-color: var(--gallery);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 18px;
  min-width: 285px;
  padding: 5px 13px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .email-address-QDXlxf {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 0px;
  min-height: 19px;
  min-width: 114px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .overlap-group1-CCPWdf {
  align-items: center;
  background-color: var(--jaffa);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 25px;
  justify-content: flex-end;
  margin-right: 1.0px;
  margin-top: 0px;
  min-width: 285px;
  padding: 0 111px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .subscribe-YNqFQw {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 21px;
  min-width: 62px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: 62px;
}

.worldpageregionselectedmobile .home-CCPWdf {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 17px;
  margin-top: 35px;
  min-height: 19px;
  min-width: 40px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .line-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.worldpageregionselectedmobile .read-CCPWdf {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 17px;
  margin-top: 8px;
  min-height: 19px;
  min-width: 35px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .line-copy-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.worldpageregionselectedmobile .flex-row-CCPWdf {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .lore-u0JtIw {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 30px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .add_circle_outline-copy-2-u0JtIw {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-left: 245px;
  position: relative;
  width: 10px;
}

.worldpageregionselectedmobile .line-copy-2-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.worldpageregionselectedmobile .flex-row-N1huxq {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .store-Cap4RD {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 36px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .add_circle_outline-copy-3-Cap4RD {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-left: 239px;
  position: relative;
  width: 10px;
}

.worldpageregionselectedmobile .line-copy-3-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.worldpageregionselectedmobile .flex-row-4q1TmI {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .community-rZCiOx {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 73px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .add_circle_outline-copy-4-rZCiOx {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-bottom: 1px;
  margin-left: 202px;
  position: relative;
  width: 10px;
}

.worldpageregionselectedmobile .line-copy-4-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.worldpageregionselectedmobile .flex-row-YMjcxQ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 8px;
  min-width: 285px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .about-HDo8zH {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  min-height: 19px;
  min-width: 41px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .add_circle_outline-copy-5-HDo8zH {
  background-color: transparent;
  background-image: url(../img/store-page-mobile-shape-FA581084-19A3-49F2-B232-3B86E3B17009@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 10px;
  margin-bottom: 1px;
  margin-left: 234px;
  position: relative;
  width: 10px;
}

.worldpageregionselectedmobile .line-copy-5-CCPWdf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 8px;
  position: relative;
  width: 287px;
}

.worldpageregionselectedmobile .facebook-container-CCPWdf {
  align-items: flex-start;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-left: 17px;
  margin-top: 28px;
  min-width: 99px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .facebook-mKPKHy {
  background-color: transparent;
  background-image: url(../img/world-page-mobile-path-91CECC77-1C3C-4870-97D5-486B414B5CF9@2x.png);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}

.worldpageregionselectedmobile .facebook-64Ycjo {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 14px;
  min-height: 19px;
  min-width: 65px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .instagram-container-CCPWdf {
  align-items: flex-end;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-left: 17px;
  margin-top: 23px;
  min-width: 99px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .instagram-sy3dNY {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/lore-page-mobile-shape-DBC0EE37-B1C2-4711-AB27-5FBF42870FB7@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  min-width: 20px;
  padding: 4px;
  position: relative;
  width: auto;
}

.worldpageregionselectedmobile .shape-VZz23i {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}

.worldpageregionselectedmobile .oval-VZz23i {
  background-color: var(--white);
  border-radius: 1px;
  flex-shrink: 1;
  height: 1px;
  margin-left: 0px;
  position: relative;
  width: 1px;
}

.worldpageregionselectedmobile .instagram-HCSCJR {
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19px;
  margin-left: 14px;
  min-height: 19px;
  min-width: 65px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .x2021-olga-andreyev-CCPWdf {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 17px;
  margin-top: 37px;
  min-height: 14px;
  min-width: 236px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}

.worldpageregionselectedmobile .privacy-policy-CCPWdf {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 17px;
  margin-top: 11px;
  min-height: 18px;
  min-width: 112px;
  position: relative;
  text-align: justify;
  width: 112px;
}

.worldpageregionselectedmobile .terms-conditions-CCPWdf {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 17px;
  margin-top: 6px;
  min-height: 14px;
  min-width: 99px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: auto;
}
